@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity


@if (User.IsInRole("Admin"))
{
    <div style="margin-top: 20px;" class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Online Evaluator - Admin</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <aside class="col-md-4">
                    <div style="margin-top: 10px;" class="page-header">
                        <h4 class="text-center" id="type">Domains</h4>
                    </div>
                    <div class="form-group text-center">
                        <label class="control-label">Add a new domain:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                            <input type="text" class="form-control" id="addNewDomainInput">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" id="addNewDomainButton">Add</button>
                            </span>
                        </div>
                    </div>
                    <div class="list-group" id="allDomains">
                        <!--  <a href="#" class="list-group-item active">
                              Domain 1<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                          </a>
                          <a href="#" class="list-group-item">
                              Domain 2<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                          </a>
                          <a href="#" class="list-group-item">
                              Domain 3<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                          </a> -->
                    </div>

                </aside>

                <article class="col-md-8">
                    <aside>
                        <div style="margin-top: 10px;" class="page-header">
                            <h4 class="text-center" id="type">Subdomains</h4>
                        </div>
                        <div class="form-group text-center">
                            <label class="control-label">Add a new subdomain:</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-education"></i></span>
                                <input style="max-width: 1000px;" type="text" class="form-control" id="addNewSubdomainInput">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" id="addNewSubdomainButton">Add</button>
                                </span>
                            </div>
                        </div>
                        <div class="list-group" id="allSubdomains">
                            <!--  <a href="#" class="list-group-item active">
                                  Subdomain 1<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                              </a>
                              <a href="#" class="list-group-item">
                                  Subdomain 2<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                              </a>
                              <a href="#" class="list-group-item">
                                  Subdomain 3<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                              </a>
                                -->
                        </div>

                    </aside>


                    <aside>
                        <div style="margin-top: 10px;" class="page-header">
                            <h4 class="text-center" id="type">Questions</h4>
                        </div>
                        <button id="addQuestionButton" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add new question</button>
                        <div class="list-group" id="allQuestions">
                            <!--  <a href="#" class="list-group-item active">
                                  Question 1<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                              </a>
                              <a href="#" class="list-group-item">
                                  Question 2<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                              </a>
                              <a href="#" class="list-group-item">
                                  Question 3<i class="glyphicon glyphicon-remove pull-right"></i><i style="margin-right: 5px;" class="glyphicon glyphicon-edit pull-right"></i>
                              </a>-->
                        </div>
                    </aside>

                </article>
            </div>
        </div>
    </div>

    @Html.Partial("_AddQuestion");

    @section Scripts
    {

        <script type="text/javascript" src="~/Scripts/script.js"></script>
        <script type="text/javascript" src="~/Scripts/subdomains.js"></script>
        <script type="text/javascript" src="~/Scripts/addQuestion.js"></script>
    }
}



